div#bandeau{
	width:100%;
	height:100px;
	background-color: lightblue;
	padding: 5px 10px 5px;
	border-bottom: solid blue 5px;
	display: inline-table;
}

div#contenu{
	width: 100%;
	height: 500px;
	padding: 5px 10px 5px;
}

body{
	margin: 0;
}

/*login du bandeau*/
input[name='id']{
	padding: 5px;
	margin-top: 2px;
	margin-right: 2.45%;
	width: 169px;
	float: right;
}

/*mdp du bandeau*/
input[name='mdp']{
	padding: 5px;
	margin-left: 88%;
	margin-top: 0.2%;
	margin-right: 2.45%;
	width: 169px;
	float: right;
}

/*Connexion du bandeau*/
input[name='validerconnexion']{
	padding: 5px;
	margin-right: 2.45%;
	margin-top: 0.1%;
	float: right;
}

/*Déconnexion du bandeau*/
input[name='validerdeconnexion']{
	padding: 5px;
	margin-right: 2.45%;
	margin-top: 2%;
	float: right;
}

/*formulaire mot clé du bandeau*/
div#form_recherche{
	width: 250px;
	float: left;
	margin-left: 25%;
	margin-top: 1.5%;
	position: relative;
}

/*Go des mots clé du bandeau*/
input[name='motcle'],input[name='validerrecherche']{
	padding: 10px;
}

/*Lien mot de passe oublé et inscription du bandeau*/
a#inscription,a#oubli_Mdp{
	float: right;
	margin-right: 0.3%;
	margin-top: 0.15%;
	background-color: #E8E8E8;
	border: 1px solid #9E9E9E;
	padding: 3px;
	text-decoration: none;
	font-family: Calibri;
	color: black;
}
a#inscription:hover,a#oubli_Mdp:hover{
	border-color: #696969;
}

/*Changer mot de passe du bandeau*/
a#changer_Mdp, a#lienPanier, a#pageUtilisateur,a#catalogue{
	float: left;
	margin-left: 1%;
	margin-top: 2%;
	background-color: #E8E8E8;
	border: 1px solid #9E9E9E;
	padding: 3px;
	text-decoration: none;
	font-family: Calibri;
	color: black;
}
a#changer_Mdp:hover, a#lienPanier:hover, a#pageUtilisateur:hover, a#catalogue:hover{
	border-color: #696969;
}

/*Images du contenu catalogue*/
div.image{
	width: 239px;
	border: solid 2px lightgray;
	font-family: Calibri;
	text-align: center;
	float: left;
	margin: 10px;
}
div.image:hover{
	border-color: #696969;
}




